*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
p{
	color: white;
}
.header{
	width: 321px;
	height: 50px;
	background-color: #36b5fc;
	margin: 0 auto;
	padding: 0px;
}
.top{
	width: 321px;
	height: 14px;
	margin: 0 auto;
	padding: 0px;
	font-size: 5px;
	color: white;
}
.top1{
	float: left;
	width: 130px;
	margin-left: 7px;
	padding: 0px;
}
.top2{
	float: right;
	width: 40px;
	margin-right: 7px;
	padding: 0px;
}
.top1 li{
	margin: 2px;
	float: left;
}
.top2 li{
	margin: 2px;
	float: right;
}
.login{
	width: 321px;
	height: 525px;
	background-color: #2ab2fe;
	margin: 0 auto;
	padding: 0px;
}
.login-title{
	position: relative;
	width: 100%;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 1.5em;
}
.login-title p{
	position: absolute;
	left: 90px;
}
.login-bar{
	position: absolute;
	width: 321px;
	height: 80px;
}
.login-bar ul{
	width: 70%;
	margin-left: 15%; 
}

.login-bar ul li{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid;
	color: white;
	width:100%;
}
.login-bar .text{
	position: absolute;
	margin-left: 12px;
	width: 180px;
	height: 35px;
	border: none;
	background: none;
	outline: medium;
}
.login-bar .psd{
	position: absolute;
	margin-left: 12px;
	width: 180px;
	height: 35px;
	border: none;
	background: none;
	outline: medium;
}
input::-webkit-input-placeholder{
	color: white;
}
.login-btn{
	position: absolute;
    width: 321px;
    height: 270px;
    margin-left: 50px;
    margin-top: 115px;
}
button{
	height: 38px;
	width: 223px;
	color: #2ab2fe;
	font-size: 1.2em;
	background: white;
	border-radius: 20px;
	box-shadow: none;
	padding-bottom: 0px;
	border: none;
	vertical-align: middle;
	outline: medium;
}
.login-btn a{
	text-decoration: none;
	font-size: 12px;
	padding-left: 60px;
    text-align: center;
    color: white;
}