*{
    margin-left: 50px;

}
.s1{
    background-color: crimson;
    height:50px;
    width:160px;
    margin-left: 100px;
}
.s2{
    margin-left: 780px;
}
.s1,.s2{
    display: inline-block;
}
#hr1,#hr3{
    margin-left: 100px;
    margin-right: 250px;
}
#hr2{
    color: crimson;
}
#s3{
    width:250px;
    height: 50px;
    margin-left: 0;
}

#pic1,#s3{
    display: inline-block;
}
#p1{
    font-size: 10px;
}
#p2{
    font-style: italic;color: forestgreen;font-size:100px;
    margin-top: 0;
    margin-bottom: 0;
}
#p3{
    font-size: 50px;color: crimson;
    margin-top: 0;
    margin-left:0;
}
#p4{
    font-size: 20px;color: crimson;
    margin-top: 0;
    margin-left: 10px;
}
#p3,#p4{
    display: inline-block;
}
.p5{
    margin-left: 0;
}
.div1,.div2,.div3{
    width:250px;
    display: inline-block;
}
h3{
    margin-left:0;
}
.div4{
    width:415px;

}
.p6{
    font-size: 32px;
    color: #11456b;
    line-height:28px;
}
.s4,.p6{
    display: inline-block;
}
.p7{
    font-size: 33px;
    color: #11456b;
}
.div5{
 margin-left: 50px;
}
.div6{
    position: absolute;
   margin-left: 290px;
    margin-top: 200px;
    z-index: 2;
}
.div7 {
    width: 458px;
    position: relative;
    z-index: 1;
    margin-left: 50px;
}
.div8,.div9{
    display: inline-block;
}
.div9{
    margin-left:0;
    margin-top: -100px;
    position: absolute;
}
.div10{
    background-color: #ded4c1;
    width:600px;
    height: 228px;
}
.div11{
    position: absolute;
    margin-top: -10px;
    margin-left: -50px;
}
.div11,.div12{
    display: inline-block;
}
.div12{
    width: 200px;
    position: absolute;
    margin-left: 300px;

}
.p8{
    margin-top: 0;
   margin-right: 200px;
    float: right;
    color: crimson;
}
