.box_nav_h {
}

.box_nav_h li {
	display: inline-block;
	*display: inline;
	position: relative;
}

.box_nav_h li a {
	display: inline-block;
}

.box_nav_h li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
}

.box_nav_h li:hover > ul {
	display: block;
}

.box_nav_h ul li {
	display: block;
}

.box_nav_h ul li a {
	display: block;
	width: 140px;
}

.box_nav_h li ul ul {
	left: 100%;
	top: 0;
}

.nav-select {
	display: none;
	width: 100%;
	margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
	.nav-select {
		display: block;
	}

	.box_nav_h {
		display: none;
	}
}
