a{
	text-decoration: none;
	outline: none;
}
ul{
	direction: none;
}
#sub a{
	color: black;
}
#logo{
	display: inline-block;
}
#sub{
	display: inline-block;
	float: right;
	margin-top:10px;
}
#sub img{
	margin-left: 10px;
}
#sub span
{
	font-family: "GeoEditRegular";
}
#sub span:hover{
	border-bottom: solid;
	border-bottom-color: yellow;
	border-bottom-width: 2px;
}
#menu{
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 35px;
	float: right;
}
#explore{
	background-image:url(images/i34.jpg);
	width: 100%;
	height: 1268px;
}
#fir{
	width: 40%;
	margin:auto;
	padding-top:100px;
}
.fl{
	font-size: 54px;
	letter-spacing: 4.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	color: white;
	text-align: center;
}
.sl{
	font-size: 18px;
	color: white;
	letter-spacing: 0.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    text-align: center;
}
#main{
	padding-top:80px;
	width: 60%;
	margin:auto;
}
#left{
	width: 30%;
    float: left;
}
#right{
	width: 65%;
    float: right;
}
.latest{
	border-left-color: yellow;
	border-left-width: 3px;
	border-left-style: solid;
	padding-left: 10px;
	font-size: 24px;
	color: white;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	letter-spacing: 3.6px;
}
#righthead img{
	width: 100%;
	height: 480px;
	padding-bottom:30px;
	cursor: pointer;
	transition: all 0.5s;
}
#righthead img:hover
{
	transform: scale(1.1);
}
.leftimg{
	float: left;
}
.leftp{
	float: right;
	color: white;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 18px;
}
.leftp span:hover
{
	border-bottom-style: solid;
}
.leftbody{
	padding-top:30px;
	height: 120px;
}
.leftbody a{
	color: white;
}
.leftbody a:hover{
color: gray;
}
#right1{
	float: left;
		cursor: pointer;
	transition: all 0.5s;
}
#right1 img:hover{
	transform: scale(1.1);
}
#right2{
	float: right;
	border-bottom-color: yellow;
	border-bottom-style: solid;
	border-right-style: solid;
	border-right-color: yellow;
	border-right-width: 4px;
	border-bottom-width: 4px;
		cursor: pointer;
	transition: all 0.5s;
}
#right2 img:hover{
	transform: scale(1.1);
}
#firstline{
	position: absolute;
	top:720px;
	color: white;
	letter-spacing: 1.5px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#secondline{
	position: absolute;
	top:740px;
	color: white;
	letter-spacing: 1.5px;
	font-size: 44px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#thirdline{
	position: absolute;
	top:800px;
	color: white;
	letter-spacing: 1.5px;
	font-weight: bold;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#right1letter{
	background-color: white;
	font-size: 20px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#right2letter{
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#right2letter span{
	color: yellow;
	font-size: 12px;
	letter-spacing: 1.5px;
}
.see{
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	border-bottom-color: yellow;
	border-bottom-style: solid;
	border-bottom-width:3px;
	font-size: 18px;
	letter-spacing: 1.2px;
	color: white;
	width: 30%;
	transition:0.6s;
	text-align: center;
}
.see:hover{
	background-color: yellow;
}
.ad{
	width: 40%;
	margin:auto;
	text-align: center;
	margin-top:100px;
	margin-bottom:100px;
}
.ad span{
	
	letter-spacing: 2px;
	font-size: 14px;
	color: gray;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#watch{
	width: 100%;
	margin-bottom:100px;
}
.line1{
	font-size: 54px;
	letter-spacing: 4.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	color: black;
	font-weight: bold;
	text-align: center;
	padding-bottom:20px;
}
.line2{
	font-size: 20px;
	color: black;
	letter-spacing: 0.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    text-align: center;
    padding-bottom:30px;
}
.video{
	background-image: url("images/i36.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height:600px; 
}
.video span{
	display: inline-block;
	margin-left:22%;
	color: white;
}
#video1{
	margin-top:300px;
	font-size: 20px;
	letter-spacing: 2.4px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    
}
#video2{
	margin-top:20px;
		font-size: 54px;
	letter-spacing: 4.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	
}
#video3{
	margin-top:30px;
	font-size: 18px;
	letter-spacing: 0.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
button{
	display: inline-block;
	margin-left:22%;
	background-color: yellow;
	letter-spacing: 1.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	height: 50px;
	font-size: 22px;
	margin-top:20px;
	border: none;
	cursor: pointer;
	transition: all 0.5s;
}
button:hover{
	z-index: -1;
	background-color: black;
	color: white;
}
#series{
	width: 58%;
	margin:auto;
}
#seriesleft{
	float: left;
    font-size: 22px;
	letter-spacing: 2.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#seriesright{
	float: right;
    font-size: 16px;
	letter-spacing: 1.2px;
	border-bottom-style: solid;
	border-bottom-width:2px;
	border-bottom-color: yellow;
	cursor: pointer;
	transition: all 0.5s;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#seriesright:hover{
    background-color: yellow;
}

#seriesbottom ul{
    padding-top:40px;
}
#seriesbottom ul li{
	display: inline-block;
	clear: both;
	padding-left:12px;
}
#seriesbottom ul li img{
		cursor: pointer;
	transition: all 0.5s;
}
#seriesbottom ul li img:hover
{
	transform: scale(1.1);
}
#travel{
	background-image: url(images/i34.jpg);
	width: 100%;
	height: 1268px;
}
#travel1{
	padding-top: 90px;
}
#travelmain{
	padding-top:100px;
	width: 70%;
	margin:auto;
}
#travelleft{
	float: left;
	width: 60%;
}
#traleftup{
	height: 45%;
	width: 100%;
}
#traleftup img{
		cursor: pointer;
	transition:0.6s;
	width: 100%;
	height: 100%;
}
#traleftup img:hover{
	transform:scale(1.1);
}
#traleftdowm{
	padding-top: 50px;
	width: 100%;
	height: 45%;
}
#traleftdowm img{
	width: 44%;
	height: 100%;
	cursor: pointer;
	transition:0.6s;
}
#traleftdowm img:hover{
transform:scale(1.1);
}
#traleftdowm img:first-child{
	padding-right: 10%
}
#travelright{
	float: right;
	width: 30%;
}
#latestul ul li{
	list-style-type: none;
}
#latestul ul li span{
	display: inline-block;
	float: right;
color: white;
font-size: 18px;
letter-spacing: 0.5px;
font-family:  "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#latestul ul li span:hover{
	color: gray;
}
}
#belong{
	width: 100%;
	margin-top:100px;
}
.video h3{
text-align: center;
color: white;
font-size: 30px;
letter-spacing: 2px;
font-family:  "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
.video h5{
	padding-top: 24%;
display: inline-block;
margin-left:25%;
color: white;
font-size: 18px;
letter-spacing: 2px;
font-family:  "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
.video p{
		padding-top: 24%;
display: inline-block;
color: white;
font-size: 16px;
letter-spacing: 1.2px;
font-family:  "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#belongbottom{
	padding-top: 50px;
	width: 58%;
    margin:auto;
}
.show.image{
	float: left;
	background-image: url(images/i38.jpg);
	background-size: 95%;
	background-repeat: no-repeat;
	cursor: pointer;
	transition:0.6s;
}
.show.image:hover{
	background-size: 100%;
}
.show{
	display: inline-block;
	width: 28%;
	padding-right:3%;
	height: 510px;
}
.show img{
	width: 100%;
	height: 100%;
}
.you span{
	color: black;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 18px;
}
.you p{
	color: black;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 16px;
}
.you p:hover{
	color: gray;
}
.you span:hover
{
	border-bottom-style: solid;
}
.show button{
     margin-top:360px;
     margin-left:100px;
}
#whatmain{
	width: 100%;
}
#whatmain ul
{
	margin-left:15%;
	direction: none;
	width: 70%;
}
#whatmain ul li{
	display: inline-block;
	background-image: url(images/i39.jpg);
	cursor: pointer;
	transition:0.6s;
	background-repeat: no-repeat;
	background-size: 100% 500px;
	width: 30%;
}
#whatmain ul li:hover{
	background-size: 400px 400px;
}
#whatmain ul li h5{
		font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 22px;
	display: inline-block;
	margin-top: 40%;
	color: white;
	margin-left: 30%;
}
#whatmain ul li span{
		font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 18px;
	display: inline-block;
	margin-top: 10%;
	color: white;
	margin-left: 20%;
}
#whatmain ul li button{
	margin-top: 20%;
}
#juzhong{
	width: 15%;
	margin:auto;
}
#sleep{
	margin-top:120px;
	width: 100%;
	height: 1200px;
	background-image: url(images/i40.jpg);
	background-size: 100%;
}
#leftsleep{
	margin-left: 15%;
	width: 25%;
}
#da{
font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 22px;
	display: inline-block;
	margin-top: 5%;
	color: yellow;
	letter-spacing: 5px;
	border-right-style: solid;
	border-right-color: yellow;
	border-right-width: 2px;
	border-left-style: solid;
	border-left-color: yellow;
	border-left-width: 2px;
}
#xiao span{
font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 30px;
	display: inline-block;
	margin-top: 3%;
	color: white;
}
#xiao p{
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 18px;
	display: block;
	margin-top: 3%;
	color: white;
}
#wawa ul{
	direction: none;
}
#wawa ul li{
	width: 100%;
	height:160px;
	margin-top:20px;
	margin-left: -50px;
}
#wawa ul li img{
width: 40%;
height: 100%;
float: left;
}
#wawa ul li span{
		font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 20px;
	display: inline-block;
	color: white;
	float: right;
}
#anniu{
	margin-left:-140px;
}
#give{
	margin-top: 100px;
	width: 100%;
}
#shop{
	width: 60%;
	margin:auto;
}
#shop ul{
	direction: none;
}
#shop ul li{
	display: inline-block;
	width: 30%;
}
#shop ul li img{
	width: 100%;
	height: 320px;
}
#shop ul li p{
			font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
	font-size: 26px;
	display: inline-block;
	color:black;
    text-align: center;
    margin-left:20px;
}
#shop ul li p:hover{
	color: gray;
}
#inbox{
	background-image: url(images/i41.jpg);
	width: 100%;
	height: 346px;
	margin-top:100px;
	padding-top: 100px;
}
#tijiao{
	width: 60%;
	margin:auto;
}
#tijiao form{
	width: 100%;
}
#tijiao form input{
	display: inline-block;
	width: 95%;
	height:40px;
}
#tijiao form button{
	display: inline-block;
	margin-left:0px;
}
#zi{
	margin-top:50px;
	width: 100%;
	text-align: center;
	color: gray;
	font-size: 20px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#zi a{
	color: gray;
}
#zi a:hover{
	color: white;
}
#footer{
	background-color: black;
	width: 100%;
	height: 700px;
}
#footmain ul{
direction: none;
display: inline-block;
margin-left: 20%;
}
#footmain ul li{
	margin-right: 50px;
	display: inline-block;
	margin-top:30px;
    color: white;
    vertical-align: top;
}
#footmain ul li span{
	font-size: 20px;
	letter-spacing: 1.2px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#footmain ul li p{
	font-size: 16px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#footmain ul li img{
	margin-top: 50px;
}
#footest{
	width: 100%;
	height: 100px;
	margin-top:300px;
}
#footestmain{
	width: 70%;
	margin:auto;
}
#footestmain p{
	display: inline-block;
	margin-left: 50px;
	padding-right:50px;
	border-right-style: solid;
	border-right-color: gray;
	border-right-width: 0.5px;
	color: gray;
	font-size: 16px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
#footestmain span{
	display: inline-block;
	margin-left:50px;
	color: gray;
	font-size: 16px;
	font-family: "GeoBrandBold","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
