 *{
	    	margin: 0;
	    	padding: 0;
	    }
		.top-all{
            width: 100%;
            height: 90px;
            background-color: rgba(10,10,10,0.7);
            margin-top: -20px;
		}
		.a-1{
			position: absolute;
			left: 450px;
			top: 10px;
		}
		.a-1 li{
			display: inline-block;
			padding-top: 15px;
			padding-left: 30px;
		}
		.a-1 a{
			color: #fff;
			text-decoration: none;
			font-size: 12px;
		}
		.top-left{
			position: absolute;
			left: 200px;
			top: 15px;
		}
		.top-right-right{
			position: absolute;
			left: 1130px;
			top: 15px;
			color: #fff;
			font-size: 15px;
		}
		.top-right button{
			font-size: 12px;
            position: absolute;
            left: 1000px;
            top: 15px;
            list-style-type: none;
            border: 2px solid #fff;
            border-radius: 5px;
            background-color: rgba(10,10,10,0.7);
            height: 40px;
            width: 120px;
            color: #fff;
		}
		.choose{
			position: absolute;
			left: 1235px;
			top: 36px;
		}
		.choose img{
            width: 15px;
            height: 15px;
		}
		.web1{
			background-image: url(图片/second.jpg);
			height: 600px;
		}
		.web1-text{
			color: #fff;
		}
		.text1 h2{
			margin-top: 150px;
			text-align: center;
			font-weight: 400;
		}
		.text2 h2{
			font-weight: 400;
			text-align: center;
			margin-top: 30px;
		}
		.text2 hr{
			width: 300px;
			background-color: #fff;
			height: 1px;
			margin: 5px auto;
		}
		.change{
			position: absolute;
			left: 720px; 
			top: 370px;
			width: 43px;
			height: 28px;
			border-radius: 40px;
			background-color: rgba(10,10,10,0.7);
			padding: 27px 20px 20px 12px;
		}
        .middle-left{
        	position: absolute;
        	left: 210px;
        	top: 590px;
        }
        .middle-middle{
        	position: absolute;
        	top: 598px;
        	left: 495px;
        	color: #222;
        }
        .middle-middle li{
        	display: inline;
        	float: left;
        	margin-right: 30px;
        }
        .middle-middle a{
        	color: #222;
        	text-decoration: none;
        	font-size: 12px;
        	font-weight: 600;
        }
        .middle-right button{
            list-style-type: none;
            width: 120px;
            height: 40px;
            color: #fff;
            background-color: #ff8800;
            outline: none;
            border-radius: 5px;
            position: absolute;
            left: 1000px;
            top: 593px;
            border: none;
        }
        .middle-right-right{
        	position: absolute;
        	left: 1130px;
        	top: 593px;
        	font-size: 15px;
        	font-weight: 600;
        }
        .middle-choose img{
            width: 15px;
            height: 15px;
        }
        .middle-choose{
            position: absolute;
            left: 1239px;
            top: 612px;
        }
        .first-hr{
        	margin-top: 65px;
        }
        .web2{
        	margin-top: -4px;
        	background-color: #eee;
        	height: 700px;
        }
        .text3 h2{
        	margin-top: 4px;
        	text-align: center;
        	font-size: 50px;
        	font-weight: 300;
        }
        .text3 h4{
        	text-align: center;
        	font-size: 16px;
        	font-weight: 400;
        }
        .text4 h2{
        	text-align: center;
        	font-size: 40px;
        	font-weight: 400; 
        }
        .text4 h4{
        	text-align: center;
        	font-weight: 400;
        	font-size: 16px;
        }
        .web4{
        	background-color: #333;
        	height: 580px;
        }
        .text5 h2{
            text-align: center;
            font-weight: 400;
            color: #fff;
            font-size: 40px;
        }
        .text5 h4{
            text-align: center;
            font-weight: 400;
            color: #fff;
            font-size: 16px;
        }
        .active{
            list-style-type: none;
            border: none;
            background-color: #222;
            font-size: 16px;
            position: absolute;
            left: 630px;
            top: 2000px;
            width: 120px;
            height: 30px;
            border-radius: 5px;
        }
        .active-1{
           list-style-type: none;
           border: none;
           background-color: #444;
           width: 120px;
           height: 30px;;
           font-size: 16px;
           position: absolute;
           left: 780px;
           top: 2000px;
           border-radius: 5px;
        }
        .choo a{
        	color: #fff;
        	text-decoration: none;

        }
        .b-1,.b-2,.b-3,.b-4,.b-5{
            width: 200px;
            text-align: center;
        }
        .b-1{
        	position: absolute;
        	left: 20px;
        	top: 2100px;
        }
        .b-2{
        	position: absolute;
        	left: 320px;
        	top: 2100px;
        }
        .b-3{
        	position: absolute;
        	left: 620px;
        	top: 2100px;
        }
        .b-4{
        	position: absolute;
        	left: 950px;
        	top: 2100px;
        }
        .b-5{
        	position: absolute;
        	left: 1250px;
        	top: 2100px;
        }
        .web4 h3,.web4 p{
            color: #fff;
            font-weight: 400;
        }
        .text6 h2{
            color: #fff;
            font-size: 50px;
            text-align: center;
        }
        .text6 h4{
            color: #fff;
            text-align: center;
            font-size: 16px;
        }
        .pc1{
        	position: absolute;
        	left: 250px;
        	top: 1150px;
        }
        .pc2{
        	position: absolute;
        	left: 400px;
        	top: 900px;
        }
        .pc3{
        	position: absolute;
        	left: 700px; 
        	top: 780px;
        }
        .pc4{
        	position: absolute;
            left: 950px;
            top: 900px;
        }
        .pc5{
        	position: absolute;
        	left: 1200px;
        	top: 1150px;
        }
        .pc p{
        	text-align: center;
        }