.bott {width: 959px;height: 150px;margin: 20px auto; padding-left: 20px; background: #fff;position: absolute;top: 1958px;left: 461px;}
.bott a,.bott p{font-size: 10px;}
.bott p{margin: 15px 0;}
.bott .leftt{width: 50%;}
.bott .leftt li{float: left;list-style: none;margin-right: 10px;margin-top: 20px;   }
.bott .rightt{width: 50%;float: right;margin-top: -80px;margin-right:-70px;}
.bott .rightt li{list-style: none;float: left;margin-right: 20px;}
.bott .rightt li img{width: 44px;height: 44px;}
.bott .rightt li p{margin-top: -5px;color: grey;font-size: 12px;}
.bott a{color: grey;}
.bott a:hover{text-decoration: underline;}
