/*中间的内容*/
.conn{width: 980px;height: 100%;margin: 0 460px;border: 1px solid #d3d3d3;}
.conn .left{width: 729px;height: 1530px; background: white;float: left;}
.conn .left .rmtj{width: 95%;height: 55px; margin:0 auto;margin-top: 2.5%; }
.conn .left .rmtj li {float: left;list-style: none;margin-right: 10px;font-size: 10px;}
.conn .left .rmtj img{width: 16px;height: 16px;}
.conn .left .rmtj a{text-decoration: none;color: #666;}
.conn .left .rmtj .aa:hover{text-decoration: underline;}
.conn .left .rmtj .hot{font-size: 18px;vertical-align: top;line-height: 18px;margin-right: 20px;}
.conn .left .rmtj .moree{float: right;}
.conn .left .rmtj .arr img{width: 10px;height: 10px;vertical-align: bottom;}
.conn .left .rmtj ul {height: 30px; border-bottom: 3px solid #d81e06;}

.conn .left .rmtjcon ul{width: 95%;height: 468px;margin: 0 auto;margin-left: 40px;}
.conn .left .rmtjcon li{width: 140px;height: 140px;float: left;list-style: none;position: relative;margin-right:30px;margin-bottom: 90px;}
.conn .left .rmtjcon li .text{text-decoration: none;color: #000;}
.conn .left .rmtjcon li .text:hover{text-decoration: underline;}
.conn .left .rmtjcon li .bot{height: 27px;width: 140px; color: #bfbfbf;position: absolute;bottom: 0;background:rgba(0, 0, 0, 0.6);font-size: 12px;vertical-align: middle;line-height: 27px;}
.conn .left .rmtjcon li .bot .mis{margin-left: 20px;margin-right: 5px;}
.conn .left .rmtjcon li .bot .bofan{float: right;margin-right: 10px;margin-top: 4px;background-image: url("./../images/播放1.png");background-size: cover;}
.conn .left .rmtjcon li .bot .bofan:hover{ background-image: url("./../images/播放.png");}
.conn .left .rmtjcon .adver{width: 95%;margin: 0 auto;}

.conn .left .rmtjcon2 {width: 93%;height: 186px;margin: 0 auto;background: #f5f5f5;position: relative;margin-bottom: 40px;overflow: hidden;border: 1px solid #d3d3d3;}
/*.conn .left .rmtjcon2 li{ width: 118px;height: 160px; list-style: none;margin-right: 20px;}
.conn .left .rmtjcon2 li img{width: 118px;height: 100px;}*/

.conn .left .rmtjcon2 .aleft{display: block;position: relative; float: left;margin-top: 68px;margin-right:9px;margin-left: 5px;font-size: 20px;font-weight: bold;z-index: 9;}
.conn .left .rmtjcon2 .aright{display: block;position: relative;  float: right;margin-top: 68px;margin-right: 5px; font-size: 20px;font-weight: bold;z-index: 9;}
.conn .left .rmtjcon2 a {text-decoration: none;color: black;font-size: 14px;}
.conn .left .rmtjcon2 ul li a:hover{text-decoration: underline;}
.conn .left .rmtjcon2 .ul1{position: absolute; width: 650px;height: 150px;top:1px;padding-top: 20px;padding-left: 30px;}

.conn .left .rmtjcon2 .ul2{position: absolute; width: 650px;height: 150px;padding-top: 20px;padding-left: 30px;}
.conn .left .rmtjcon2 ul li{float: left;width: 118px;height: 160px; list-style: none;margin-right: 10px;background: url("./../images/albumback.png") no-repeat;}
.conn .left .rmtjcon2 ul{transition: 0.5s;}
.conn .left .rmtjcon2 ul li img{width: 100px;height: 100px;}



.conn .right{width: 250px;height: 1600px;background: white;float: right;}
.conn .right .log{width: 250px;height: 136px;background:url('./../images/index.png') no-repeat;}
.conn .right .log p{width: 205px;font-size: 12px;margin: 0 auto;padding: 16px 0;line-height: 22px;}
.conn .right .log1{display: block;text-decoration: none;border-radius: 4px;background:  #8a060b;text-align: center; width: 100px;height: 31px;line-height: 31px;margin: 0 auto;color: #fff;text-shadow: 0 1px 0 #8a060b;}
.conn .right .log1:hover{background: red;}
.conn .right .connrig2{width: 90%;height: 455px;margin: 20px auto; }
.conn .right .connrig2 .head {border-bottom: #666 1px solid;line-height: 30px;}
.conn .right .connrig2 .head span{text-align:left;font-weight: bold;}.conn .right .connrig2 .head a{float: right;color: #666;text-decoration: none;}
.conn .right .connrig2 .head a:hover{text-decoration: underline;}
.conn .right .connrig2 .con a{color: black;}
.conn .right .connrig2 .con li{list-style: none;width: 210px;height: 62px;margin: 0 auto; margin-top: 20px;background: #e9e9e9;}
.conn .right .connrig2 .con li:hover{background: #f5f5f5;}
.conn .right .connrig2 .con li img{width: 62px;height: 62px;float: left}
.conn .right .connrig2 .con li div{width: 148px;height: 62px;float: right;text-align: left;}.conn .right .connrig2 .con li div p{margin-top: 10px;margin-left: 20px;}.conn .right .connrig2 .con li div .p1{font-weight: bold;}.conn .right .connrig2 .con li div .p2{font-size: 12px;color: grey;}
.conn .right .connrig2  .shenqin{display: block;text-decoration: none;border-radius: 4px;background:  #8a060b;text-align: center; width: 210px;height: 31px;line-height: 31px;margin: 20px auto;color: #fff;text-shadow: 0 1px 0 #8a060b;}
.conn .right .connrig2  .shenqin:hover{background: red;}
.conn .right .connrig2 .hot{margin-top: 20px;}
.conn .right .connrig2 .hot li{list-style: none;width: 210px;height: 50px;margin: 0 auto; margin-top: 10px;background: white;}
.conn .right .connrig2 .hot li img{width: 40px;height: 40px;float: left}
.conn .right .connrig2 .hot li p{font-size: 12px;margin-top: 2px;color: grey;}
.conn .right .connrig2 .hot li div{float: right; margin-right: 15px;margin-top: -1px;}.conn .right .connrig2 .hot li div a{color: black;}.connrig2 .hot li div a:hover{text-decoration: underline;}