@charset "utf-8";
/* CSS Document */
body{background-color:#2ab2fe;}
#first{font-family:微软雅黑;
       font-size:25px;
	   color:white;
	   width:150px;
	   margin:100px auto;
	   padding-top:50px;
	   }
#biaodan{
	
	width:230px;
	margin:auto;}
#user img{
	float: left;
}
#pass img{
	float: left;
}
input{
background:none;
display:inline-block;
padding-left: 10px;
height:25px;
border: none;
outline: none;
}
input::-webkit-input-placeholder{
	color:white; 
}
input::-moz-input-placeholder{
	color:white; 
}
input::-moz-input-placehlder{
	color:white; 
}
input::-ms-input-placeholder{
	color:white; 
}
#sub{
	width:230px;
	margin: 30px auto 0px;
	
}


#forget 
{
	width: 115px;
	margin: auto;
	border-top-color: #F00;
	border-right-color: #F00;
	border-bottom-color: #F00;
	border-left-color: #F00;
}
#forget:hover
{
	background-color: #F00;
}