body {
    margin: 0%;
    padding: 2px;
    background-color: rgb(42, 178, 254);
}
.leader {
    height: 100px;
    width: 100%;

}
h5 {
    color: white;
    font-size: 10px;
    float: left;
    margin-top: 5px;
    margin-left: 45%;
}
h1 {
    text-align: center;
    margin-top: 100px;
    color: white;
}
p {
    margin-left: 43%;
    border-bottom: 1px solid white;
    width: 15%; 
}
input {
    background-color:  rgb(42, 178, 254);
    color: white;
    border: none;
    margin-bottom: 5px;
}
button {
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin-left: 43%;
    background-color: white;
    border: none;
    color:  rgb(42, 178, 254);
    font-size: 40px;
}
.last {
    border-bottom: none;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}