*{
    margin: 0;
    padding: 0;
}
.box1{
    height: 1080px;
    background-image: url(webpage_02.png);
}
.box1_head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
.tou1{
    height: 90px;
    margin: 0 auto;
    background: rgba(0, 0, 0,0.4);
}
.box1_title{
    position: absolute;
    height: 40px;
    width: 1200px;
    margin-top: 25px;
}
.box1_headtitle1{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 43px;
    letter-spacing: -5px;
    font-weight: 900;
    width: 250px;
    height: 100%;
    line-height: 40px;
}
.box1_headtitle2{
    position: relative;
    margin-left: 340px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: -1px;
    font-weight: 800;
    width: 350px;
    height: 100%;
    line-height: 45px;
    display: flex;
    justify-content: space-around;
}
.box1_headtitle2 span{
    display: block;
}
.box1_headtitle3{
    position: relative;
    text-align: center;
    color: rgb(189, 59, 59);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: -42px;
    margin-left: 940px;
    line-height: 40px;
    border: solid 2px white;
    border-radius: 10px;
    width: 110px;
    height: 100%;
}
.box1_headtitle4{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    color: rgb(189, 59, 59);
    margin-top: -43px;
    margin-left: 1060px;
    line-height: 22px;
    letter-spacing: -1px;
    font-weight: 800;
    width: 100px;
    height: 100%;
}
.box1_headtitle5{
    position: relative;
    font-size: 16.5px;
    margin-top: -15px;
    margin-left: 1150px;
    height: 100%;
}
.box1_body{
    margin: 0 auto;
    width: 700px;
    height: 300px;
    color: rgb(255, 255, 255);
    margin-top: 230px;
}
.box1_content1{
    color: rgb(255, 255, 255);
    height: 200px;
}
.box1_content1 p{
    font-size: 64.5px;
    line-height: 95px;
}
#two{
    text-align: center;
}
.box1_content2{
    font-size: 25px;
    text-align: center;
    line-height: 100px;
}
#three{
    display: block;
    width: 280px;
    margin: 0 auto;
    margin-top: -33px;
    height: 1px;
    background: white;
}
/*box2*/
.box2{
    height: 1080px;
    background-color: rgb(247, 247, 248);
}
.box2_head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
.tou2{
    height: 90px;
    margin: 0 auto;
    background: rgba(255, 255, 255);
}
.box2_title{
    position: absolute;
    height: 40px;
    width: 1200px;
    margin-top: 25px;
}
.box2_headtitle1{
    position: absolute;
    color: rgb(49, 49, 49);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 43px;
    letter-spacing: -5px;
    font-weight: 900;
    width: 250px;
    height: 100%;
    line-height: 40px;
}
.box2_headtitle2{
    position: relative;
    margin-left: 340px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(49, 49, 49);
    letter-spacing: -1px;
    font-weight: 800;
    width: 350px;
    height: 100%;
    line-height: 45px;
    display: flex;
    justify-content: space-around;
}
.box2_headtitle2 span{
    display: block;
}
.box2_headtitle3{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: -42px;
    margin-left: 940px;
    line-height: 40px;
    border: solid 2px white;
    border-radius: 10px;
    width: 110px;
    height: 100%;
    background-color: rgb(255, 134, 40);
    box-shadow: 1px 2px 1px rgb(188, 188, 188);
    border: 0;
}
.box2_headtitle4{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    color: rgb(49, 49, 49);
    margin-top: -43px;
    margin-left: 1060px;
    line-height: 22px;
    letter-spacing: -1px;
    font-weight: 800;
    width: 100px;
    height: 100%;
}
.box2_headtitle5{
    position: relative;
    font-size: 16.5px;
    margin-top: -15px;
    margin-left: 1150px;
    height: 100%;
}
.box2_body{
    margin: 0 auto;
    width: 1050px;
    height: 190px;
    color: rgb(87, 87, 87);
    margin-top: 10px;
}
.box2_content1{
    color: rgb(87, 87, 87);
    height: 180px;
}
.box2_content1 p{
    font-size: 64.5px;
    line-height: 95px;
}
#four{
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin-top: -25px;
}
.box2_content2{
    margin: 0 auto;
    width: 1250px;
    height: 800px;
}
.box2_content2 img{
    display: block;
    width: 1200px;
    height: 740px;
    margin: 0 auto;
}
/*box3*/
.box3{
    height: 1090px;
    background-color: rgb(247, 247, 248);
}
.box3_head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
.tou3{
    height: 90px;
    margin: 0 auto;
    background: rgba(255, 255, 255);
}
.box3_title{
    position: absolute;
    height: 40px;
    width: 1200px;
    margin-top: 25px;
}
.box3_headtitle1{
    position: absolute;
    color: rgb(49, 49, 49);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 43px;
    letter-spacing: -5px;
    font-weight: 900;
    width: 250px;
    height: 100%;
    line-height: 40px;
}
.box3_headtitle2{
    position: relative;
    margin-left: 340px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(49, 49, 49);
    letter-spacing: -1px;
    font-weight: 800;
    width: 350px;
    height: 100%;
    line-height: 45px;
    display: flex;
    justify-content: space-around;
}
.box3_headtitle2 span{
    display: block;
}
.box3_headtitle3{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: -42px;
    margin-left: 940px;
    line-height: 40px;
    border: solid 2px white;
    border-radius: 10px;
    width: 110px;
    height: 100%;
    background-color: rgb(255, 134, 40);
    box-shadow: 1px 2px 1px rgb(188, 188, 188);
    border: 0;
}
.box3_headtitle4{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    color: rgb(49, 49, 49);
    margin-top: -43px;
    margin-left: 1060px;
    line-height: 22px;
    letter-spacing: -1px;
    font-weight: 800;
    width: 100px;
    height: 100%;
}
.box3_headtitle5{
    position: relative;
    font-size: 16.5px;
    margin-top: -15px;
    margin-left: 1150px;
    height: 100%;
}
.box3_body{
    height: 200px;
    color: rgb(87, 87, 87);
    background-color: rgb(255, 255, 255);
}
.box3_content1{
    padding-top: 40px;
    margin: 0 auto;
    width: 1050px;
    color: rgb(87, 87, 87);
    height: 150px;
}
.box3_content1 p{
    display: block;
    text-align: center;
    padding-top: 57px;
    font-size: 64.5px;
    line-height: 40px;
}
#five{
    font-size: 20px;
    margin-top: -25px;
}
.box3_content2{
    margin: 0 auto;
    height: 800px;
    width: 1508px;
}
.box3_content2 img{
    display: block;
    width: 100%;
    height: 800px;
    margin: 0 auto;
}
/*box4*/
.box4{
    height: 1080px;
    background-color: rgb(247, 247, 248);
}
.box4_head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
.tou4{
    height: 90px;
    margin: 0 auto;
    background: rgba(255, 255, 255);
}
.box4_title{
    position: absolute;
    height: 40px;
    width: 1200px;
    margin-top: 25px;
}
.box4_headtitle1{
    position: absolute;
    color: rgb(49, 49, 49);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 43px;
    letter-spacing: -5px;
    font-weight: 900;
    width: 250px;
    height: 100%;
    line-height: 40px;
}
.box4_headtitle2{
    position: relative;
    margin-left: 340px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(49, 49, 49);
    letter-spacing: -1px;
    font-weight: 800;
    width: 350px;
    height: 100%;
    line-height: 45px;
    display: flex;
    justify-content: space-around;
}
.box4_headtitle2 span{
    display: block;
}
.box4_headtitle3{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: -42px;
    margin-left: 940px;
    line-height: 40px;
    border: solid 2px white;
    border-radius: 10px;
    width: 110px;
    height: 100%;
    background-color: rgb(255, 134, 40);
    box-shadow: 1px 2px 1px rgb(188, 188, 188);
    border: 0;
}
.box4_headtitle4{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    color: rgb(49, 49, 49);
    margin-top: -43px;
    margin-left: 1060px;
    line-height: 22px;
    letter-spacing: -1px;
    font-weight: 800;
    width: 100px;
    height: 100%;
}
.box4_headtitle5{
    position: relative;
    font-size: 16.5px;
    margin-top: -15px;
    margin-left: 1150px;
    height: 100%;
}
.box4_body{
    padding-top: 130px;
    margin: 0 auto;
    width: 1100px;
    height: 190px;
}
.box4_content1{
    text-align: center;
    color: rgb(255, 255, 255);
    height: 180px;
}
.box4_content1 p{
    font-size: 64.5px;
    line-height: 95px;
}
#six{
    color: rgb(103, 103, 97);
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 100px;
    margin-top: -50px;
}
.box4_content2{
    margin: 0 auto;
    width: 1250px;
    height: 500px;
    margin-top: 80px;
}
.box4_content2 img{
    display: block;
    width: 1250px;
    height: 600px;
    margin: 0 auto;
}
.box4_bgc{
    margin: 0 auto;
    height: 1080px;
    width: 1518px;
    background: url(webpage_4_12.png);
}
/*box5*/
.box5{
    height: 1080px;
    background-color: rgb(247, 247, 248);
}
.box5_head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
.tou5{
    height: 90px;
    margin: 0 auto;
    background: rgba(255, 255, 255);
}
.box5_title{
    position: absolute;
    height: 40px;
    width: 1200px;
    margin-top: 25px;
}
.box5_headtitle1{
    position: absolute;
    color: rgb(49, 49, 49);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 43px;
    letter-spacing: -5px;
    font-weight: 900;
    width: 250px;
    height: 100%;
    line-height: 40px;
}
.box5_headtitle2{
    position: relative;
    margin-left: 340px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(49, 49, 49);
    letter-spacing: -1px;
    font-weight: 800;
    width: 350px;
    height: 100%;
    line-height: 45px;
    display: flex;
    justify-content: space-around;
}
.box5_headtitle2 span{
    display: block;
}
.box5_headtitle3{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: -42px;
    margin-left: 940px;
    line-height: 40px;
    border: solid 2px white;
    border-radius: 10px;
    width: 110px;
    height: 100%;
    background-color: rgb(255, 134, 40);
    box-shadow: 1px 2px 1px rgb(188, 188, 188);
    border: 0;
}
.box5_headtitle4{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    color: rgb(49, 49, 49);
    margin-top: -43px;
    margin-left: 1060px;
    line-height: 22px;
    letter-spacing: -1px;
    font-weight: 800;
    width: 100px;
    height: 100%;
}
.box5_headtitle5{
    position: relative;
    font-size: 16.5px;
    margin-top: -15px;
    margin-left: 1150px;
    height: 100%;
}
.box5_body{
    margin: 0 auto;
    width: 1050px;
    height: 190px;
    color: rgb(87, 87, 87);
}
.box5_content1{
    color: rgb(87, 87, 87);
    height: 180px;
}
.box5_content1 p{
    color: rgb(255, 255, 255);
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#seven{
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    margin-top: -125px;
}
.box5_content2{
    width: 320px;
    height: 400px;
    margin-left: 250px;
    margin-top: 150px;
}
.box5_content2 img{
    display: block;
    margin: 0 auto;
}
.box5_bgc{
    margin: 0 auto;
    height: 1100px;
    width: 1518px;
    background: url(webpage_14.png);
}
.box5_content2 p{
    text-align: center;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#eight{
    display: block;
    position: relative;
    margin-left: -30px;
    width: 380px;
}
#nine{
    font-size: 10px;
    color: rgb(255, 255, 255);
    margin-top: 25px;
}
.bd{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 700px;
    margin-top: -350px;
    display: inline-block;
    text-align: left;
    color: rgb(255, 255, 255);
}
.bd input{
    border: 0;
    height: 30px;
    width: 235px;
}
.bd1{
	float: left;
}
.bd2{
	float: right;
	margin-left: 20px;
}
.bd3{
	float: right;
	margin-left: 20px;
	color: #7eabf5;
}
.bd4{
    position: absolute;
    margin-top: 145px;
}
.bd4 textarea{
    border: 0;
	width: 498px;
	height: 220px;
}
.bd5{
    position: absolute;
    margin-top: 400px;
	width: 100px;
	border: 1px solid white;
	text-align: center;
    line-height: 30px;
    margin-left: 200px;
}
.box6{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    height: 800px;
    margin-top: 110px;
}
.foot{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
}
.foot1{
    margin-top: 90px;
    height: 450px;
    color: white;
}
.foot_1{
    font-size: 18px;
}
#fg{
    margin-top: 18px;
    border-bottom:1px dashed gray;
    height: 1px;
    width: 190px;
    overflow: hidden;
}
.box6 li{
    list-style: none;
}
.foot_2{
    display: block;
    margin-top: 10px;
    color: grey;
}
.foot2{
    margin-top: 90px;
    height: 450px;
    color: white;
}
.foot3{
    margin-top: 90px;
    height: 450px;
    color: white;
}
.foot4{
    margin-top: 90px;
    height: 450px;
    color: white;
}
.bottom{
    padding-top: 70px;
    color: grey;
    height: 200px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}