.sec{
    width: 100%;height: 1200px;padding-top: 200px;background: #fff;
}
.sec .head{ text-align: center;}
.sec .head h1{font-size: 50px;}
.sec .head p{margin-top: 20px; font-family: Calisto MT;font-size: 20px;font-weight: bold;}
.sec .head::after{content: '' ;position: absolute; height: 5px;left: calc(50% - 30px);width: 60px;background: orange;margin-top: 20px;}
.sec .con{
    width: 940px;height: 530px;margin: auto;margin-top:50px ;background: url("../images/cen.png"); background-size: 940px 530px;
}
.sec .con a{
    display: block;color: #fff;text-decoration: none;margin: 20px;
}
.sec .con .the1{
    padding-top:25%;font-size: 20px;
}
.sec .con .the2{
    font-size: 36px;
}
.sec .con .the3{
    width: 680px;
}
.sec .con .the4{
    margin-top: 10px;
    position: relative;
    background-color:gold;
    color: black;
    z-index: 0;
    display: inline-block;
    width: 220px;
    height:45px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
}
.sec .con .the4:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 0;  
    height: 100%;
    background-color: black;
    transition: width .3s ,color .3s;
}
.sec .con .the4:hover {
    color: #fff;
}
.sec .con .the4:hover:after {
    width: 100%;  
}
.sec .nav1{
    width: 940px;
    margin: 20px auto;
}
/*过渡实现*/
.sec .nav1 a{
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid orange;z-index: 0;
    background: orange;
    color: #000;
    float: right;
    transition:1s;
}
.sec .nav1 a::after{
    content: '';
    width: 100%;  
    height: 100%;
    position: absolute;top: 0px;
    left: 0px;z-index: -1;
    background: white;
    transition:.3s;
}
.sec .nav1 a:hover:after{
    height:0;
}
.sec .lunbo{
    width: 950px;height: 260px;margin: 0 auto;position: relative;
}
.sec .ban{
    width: 900px;height: 260px;margin: 0 auto;overflow: hidden;
}
.sec .swiper{
    width: 1880px;height: 260px;position: relative;transition: 1s;
}
.sec .swiper div{
    width: 170px;height: 260px;float: left;margin-left: 10px;overflow: hidden;
}.sec .swiper img{transition: .5s;}
.sec .swiper img:hover{transform: scale(1.2);}
.sec .lunbo a{
    font-size: 30px;
    text-decoration: none;
    color: #000;
}
.sec .lunbo a:hover{
    color: grey;
}
.sec  #a-left{
    position: absolute;
    left: -10px;
    top: 50%;
}
.sec  #a-right{
    position: absolute;
    right: -10px;
    top: 50%;
}