.six{ width: 100%;height: 800px;background: white;color: black;padding-top:100px;}
.six .head{ text-align: center;}
.six .head h1{font-size: 50px;}
.six .head p{margin-top: 20px; font-family: Calisto MT;font-size: 20px;font-weight: bold;}
.six .head::after{content: '' ;position: absolute; height: 5px;left: calc(50% - 30px);width: 60px;background: orange;margin-top: 20px;}
.six .con{width:1000px; margin: 0 auto;margin-top: 100px;}
.six .con .box{float: left; margin-right: 20px;text-align: center;}
.six .con .box img{width: 310px;height: 310px;}
.six .con .box .mi{display: block; font-size: 24px;max-width: 310px;margin-top: 20px;color: black;text-decoration: none;}
.six .con .box .mi:hover{color: grey;}
.six .con .box .foot{ margin-top: 10px; position: relative; background-color:gold; color: black; z-index: 0; display: inline-block;
    width: 220px; height:45px; line-height: 45px; text-align: center; vertical-align: middle; text-decoration: none;margin-top: 40px;}
.six .con .box .foot:after { content: ''; position: absolute; z-index: -1; top: 0px; left: 0px; display: inline-block; width:0; height: 100%; background-color: black; transition: width .3s ,color .3s; }
.six .con .box .foot:hover { color: #fff; }
.six .con .box .foot:hover:after { width: 100%; }