        .header{position: relative;height: 80px; width: 1300px;margin-top: 50px;}
        .header .m1{line-height: 80px; vertical-align: middle; width: 70%;margin: 0 auto;overflow: hidden;}
        .header .logo{float: left;}
        .header li{float: right;list-style: none;margin-right: 5%;}
        .header a{text-decoration: none; color: grey;}
        .header a:hover{color: black;}
        .header .search{background: url("../images/搜索.png") no-repeat; background-size: 20px 20px; display: inline-block; width: 20px;height: 20px;}
        .header .search:hover{background: url("../images/搜索-黑.png") no-repeat; background-size: 20px 20px; display: inline-block; width: 20px;height: 20px;}
        .header .Blog,.Portfolio,.About{display:none ; overflow: hidden; height: 100%;width: 100px;border-radius: 5px; position: absolute;left:820px;top:60px;z-index: 9;line-height: 24px;background: #fff;text-align: center; }
        .header .Portfolio{left: 700px;}
        .header .About{left: 480px;}
        .header .Blog p,.Portfolio p,.About p{border-bottom: dashed 1px grey;max-width: 90%;margin: 10px auto;}