 @charset "utf-8";
body{
margin: 0px;
padding: 0px;
}
a{
	text-decoration:none;
}

#head{
	background-image:url(images/images/webpages_02.png);
	background-size: 100% 100%;
	width:100%;
	height:1030px;
	background-image: center;
	background-image: no-repeat;
}
#zuo1{margin:0% 0% 0% 10%;
	width: 60%;
display:inline-block;

}
#zuo1 li{color:white;
font-family:Arial, Helvetica, sans-serif;
display:inline-block;
margin:15px 20px 0%;
}
#zuo1 a{
	color:white;}
.lo{
	font-size:44px;
	}
.you{
	width: 20%;
	display:inline-block;
	margin:0% 0% 0% 6%;
}
.you img{
	margin:15px 5px 0px;}
	
.daohang{width:100%;
height:83px;}

.daohang a{color:black;}

.daohang a:hover{
	font-size:44px;
}	
	
.zuo2{margin:0% 0% 0% 10%;
	width: 60%;
display:inline-block;

}
.zuo2 li{color:black;
font-family:Arial, Helvetica, sans-serif;
display:inline-block;
margin:15px 20px 0px;
}
#cms{
	background-image:url(images/images/webpage_03.png);
	background-size: 100% 100%;
	width:100%;
	height:875px;}
#workshow{
	width:100%;
	height:866px;
	background-image:url(images/webpage_11.png);
	background-size: 100% 100%;
	}
#zanzhu{
	width: 100%;
	margin: auto;
	padding-top: 0%;
	background-color:#f3f3f3;
	}
#brand{
	margin: 0%;
	padding-top: 0%;
	padding-right: 15%;
	padding-bottom: 0%;
	padding-left: 15%;
		}
#why{
	background-image:url(images/images/s_02.png);
	background-size: 100% 100%;
	width:100%;
	height:788px;
	}
	#sub{
		background-image:url(images/webpage_35.png);
		background-size: 100% 100%;
		width:100%;
		height:1101px;
	}
	form{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	width: 32.7%;
	margin-top: 0px;
	margin-right: 0%;
	margin-bottom: 0px;
	margin-left: 46%;
	padding-top: 335px;
		}
		input{
			width:88.9%;
			height:38px;

		}
		table{
			width:100%;
		}
		tr{
			width: 100%;
		}
		td
		{
	margin-right: 6.34%;
	width: 50%
}
		textarea{
			resize:none;
		width:91%;
		height:215px;
		}
		button{
			display:inline-block;
			width:31.7%;
			height:60px;
			margin-top:10px;
			margin-left:31.7%;
			margin-right:28.6%;
			margin-bottom:0px;
			background-color:#f36453;
			border-color:white;
			font-size:36px;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			}
#footer{
	background-color:black;
	width:100%;
	height:628px;
}
#our{
	margin-right: 21.7%;
	margin-bottom: 0px;
	margin-left: 21.7%;
	padding-top: 54px;
}
.ser{
	float:left;
	height: 400px;
	width: 20.4%;
	color: #77757a;
	margin-right: 4.5%;
	font-family: Arial, Helvetica, sans-serif;
}

#di{
	color:#77757a;
	text-align:center;
	clear:both;
	width:30.6%;
	margin:auto;
}