*{
    margin:0;padding:0;
}
a{
    text-decoration: none;
}
.login{width:100%;height:100%;background: #678aff;;background-size:cover;position:fixed;z-index:-10;}
.welcome{width:100%;margin:40% 0 25%;text-align: center;}
.welcome p{
	color: #fff;
	font-family: 微软雅黑;
	font-size: 35px;	
}
.login-id{text-align:center;color:#fff;}
.login-id a{color:#fff;padding:0 5px;}
.login-con{
    position: relative;
    width:100%;height:30%;  
}
.login-con ul li{
    width:70%; height:25px; margin: 30px 0 0 11%;border-bottom:1px solid #fff;list-style:none;
}

.login-con ul li input::-webkit-input-placeholder {/*改变placeholder的颜色*/
        color: #fff;
}
.login-con ul li img{
    margin-top: -10px;
    width: 2em;
    height: 2em;
}
.login-con .id{
    position: absolute;margin-left:3%;width:60%; height:25px;  border:none; background:none; color:#fff;
}
.login-con .psd{
    position: absolute; top:55px; margin-left:3%; width:60%;height:25px; border:none;background:none;color:#fff;
}
.login-bottom {
    display: block;
    width:70%;height: 50px;margin:0 auto;border-radius: 25px;background: #fff;
    text-align: center;
}
.login-bottom p{
    font-size: 25px;
    line-height: 50px;
    color: #678aff;
}
.forget p{
    text-align: center;
    color: #fff;
}
.forget p:hover{
    color: red;
}