.r-header{
	width: 960px;
	height: 40px;
	margin: 0 auto;
	min-width: 960px;
}
.r-header a{
	float: right;
	line-height: 40px;
	color: #0c85cc;
	margin-left: 10px;
	font-size: 14px;
}
.r-nav{
	width: 100%;
	height: 60px;
	background-color: #008ad4;
	min-width: 960px;
}
.r-nav-info{
	width: 960px;
	height: 60px;
	margin: 0 auto;
	position: relative;	
}
.r-nav-info img{
	position: absolute;
	top: 10px;
}
.r-nav-info .r-nav-left{
	width: 360px;
	height: 60px;
	position: absolute;
	left: 200px;
}
.r-nav-info .r-nav-left li{
	float: left;
	line-height: 60px;
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
	cursor: pointer;
}
.r-nav-info .r-nav-right{
	width: 250px;
	height: 60px;
	position: absolute;
	right: 0;
}
.r-nav-info .r-nav-right li{
	float: right;
	line-height: 60px;
	color: #fff;
	font-size: 16px;
	margin-left: 20px;
	cursor: pointer;
}
.r-content{
	width: 960px;
	height: 620px;
	margin: 45px auto;
	border: 1px solid #008ad4;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 10px #ccc;
	border-top: 6px solid #008ad4;
	box-sizing: border-box;
	position: relative;
}
.r-content-top{
	width: 960px;
	height: 30px;
	text-align: center;
	margin-top: 30px;
}
.r-account{
	position: absolute;
	width: 370px;
	left: 50%;
	margin-left: -170px;
}
.r-account-one{
	top: 200px;
}
.r-account-two{
	top: 250px;
}
.r-account-third{
	top: 300px;
}
.r-account label{
	line-height: 38px;
	font-size: 14px;
	color: #474747;
	width: 76px;
	display: inline-block;
}
.r-account input{
	height: 22px;
	padding: 7px;
	line-height: 22px;
	width: 275px;
	color: #7b7b7b;
	border: 1px solid #ccc;
	background: #f3f3f3;
}
.r-info{
	position: absolute;
	top: 350px;
	width: 300px;
	left: 384px;
}
.r-info span{
	font-size: 14px;
}
.r-info a{
	color: #54ade7;
	font-size: 14px;
	border-bottom: 1px solid #54ade7;
}
.r-register{
	width: 92px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	background: #3db9ec;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	font-family: Microsoft Yahei,simsun,sans-serif;
	border-radius: 2px;
	position: absolute;
	top: 400px;
	left: 384px;
}
.r-register:hover{
	background-color: #2085E5;
}
.congratulations{
	width: 960px;
	text-align: center;
	height: 100px;
	margin-top: 200px;
}
.congratulations p{
	font-size: 40px;
	color: #333;
	margin-bottom: 30px;
}
.congratulations a{
	font-size: 20px;
	color: #000;
}
.r-info-sss{
	width: 150px;
	font-size: 12px;
	color: #474747;
	position: absolute;
	left: 380px;
	top: 10px;
}