*{
    padding: 0;
    margin: 0 auto;
    color: #fff;
}
.wrap{
    width: 400px;
    height: 600px;
    background: #36b5fc;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.top{
    height: 16px;
}
.top_time{
    font-size: 6px;
    margin-left: 100px;
    width: 100px;
}
.tit{
    text-align: center;
    margin: 100px 0;
}
.button{
    width: 300px;
}
.user{
    margin-left: 15px;
    margin-top: 5px;
}
.underline{
    width: 300px;
    border: 1px solid white;
    float: left;
}
.block {
    display: block;
    height: 50px;
    width: 400px;
}
.sign_in{
    width: 300px;
    color: #36b5fc;
    background-color: white;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
}
.forget_{
    text-align: center;
    margin-top: 10px;
}